@{
    ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h3>Menu</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Admin Management</th>
                <th>Client Management</th>
                <th>Transaction Management</th>
                <th>Enquiry Management</th>
                <th>Reporting Management</th>
            </tr>
        </thead>
    </table>
</div>
